<!DOCTYPE html>
<html>
<head>
  <title>MastMyCar	</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h2>
MastMyCar
</h2>
<%= yield %>
<footer>
    <%= link_to "首页", welcome_index_path %>
    <%= link_to "推荐", recommend_index_path %>
    <%= link_to "我的", mine_index_path %>
</footer>
</body>
</html>
